<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Numbers Game</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='result.css')}}">
    </head>
    <body>
        <h1>Welcome to the Great Number Game!</h1>
        <p>I am thinking of a number between 1 and 100</p>
        <p>Take a guess!</p>
        <p>{{ session['number'] }}</p>
        <div class="wrong">
            <p class="result">{{ wrong }}</p>
        </div>

        <form class="" action="/process" method="post">
            <input type="text" name="guess">
            <input type="submit" value="Submit">
        </form>
    </body>
</html>
