<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
    </head>
    <body>
        <nav><h1>The Wall</h1> {{ session['id']['first_name'] }} <a href="logout">Logout</a></nav>
        <hr>
        <div class="container">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                <div class="flashed-messages">
                    {% for category, message in messages %}
                    <p class="{{category}}">{{message}}</p>
                    {% endfor %}
                </div>
                {% endif %}
            {% endwith %}
            <form id="new-message" action="/post_message" method="POST">
                <h3>Post a Message</h3>
                <div class="form-group">
                    <textarea name="content" cols="30" rows="10"></textarea>
                </div>
                <input type="submit" value="Post">
            </form>
            {% for message in messages %}
                <div class="message">
                    <h5>{{message.first_name}} {{message.last_name}} - {{message.created_at}}</h5>
                    <p>{{message.content}}</p>
                    <form class="new-comment" action="/post_comment/{{message.id}}" method="post">
                        <h6 class='post_comments'>post a comment on {{message.first_name}}'s message</h6>
                        <div class="form-group">
                            <textarea name="content" cols="30" rows="10"></textarea>
                        </div>
                        <input type="submit" value="Comment">
                    </form>
                    {% for comment in comments %}
                    {% if comment.message_id == message.id %}
                    <div class="comment">
                        <h6 class="ital">{{comment.first_name}} {{comment.last_name}} - {{comment.created_at.strftime('%b %d %Y')}}</h6>
                        <p>{{comment.content}}</p>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    </body>
</html>
