<!DOCTYPE html>
<html>
    <head>
       <title>Dojo Survey Index</title>
       {% load static %}
       <link rel="stylesheet" href="{% static 'survey_form/style.css' %}" media="screen" title="no title"  charset="utf-8">
    </head>
    <body>
        <form action='/surveys/process' method='post'>
            {% csrf_token %}
            <div class="names">
                <p>Your Name: </p>
                <p>Dojo Location: </p>
                <p>Favorite Language: </p>
            </div>
            <div class="inputs">
                <p><input type='text' name='name'></p>
                <p><select class="" name="location">
                    <option value="Online">Online</option>
                    <option value="San Jose">San Jose</option>
                </select></p>
                <p><select class="" name="language">
                    <option value="Python">Python</option>
                    <option value="JavaScript">JavaScript</option>
                </select></p>
            </div>

            <p class="comment">Comment (optional):</p>
            <p><textarea name="comment"></textarea></p>
            <p class="button"><input type='submit' value='Create User'></p>
        </form>
    </body>
</html>
