<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Dojo Survey Index</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'users/style.css' %}" media="screen" title="no title"  charset="utf-8">
    </head>
    <body>
        {% if users %}
            <h1>User {{ user.id }}</h1>
            <div class="labels">
                <p>Full Name:</p>
                <p>Email:</p>
                <p>Created at:</p>
            </div>
            <div class="info">
                <p>{{ user.first_name }} {{ user.last_name }}</p>
                <p>{{ user.email }}</p>
                <p>{{ user.created_at }}</p>
            </div>
            <form class="" action="/users" method="get">{% csrf_token %}
                <a href="users/{{ user.id }}/edit">Edit</a>
                <a href="users/{{ user.id }}/destroy">Delete</a>
                <input type="submit" value="Go Back">
            </form>
        {% endif %}
    </body>
</html>
