<html>
<head>
  <title>Friends</title>
 <link rel="stylesheet" href="{{ url_for('static', filename='res.css') }}">
</head>
<body>
  <div class='form'>
      {% if one_friend %}
          <form action="/friends/{{ one_friend['id'] }}" method='POST'>
              <!-- {% if one_friend %} -->
              <label for="first_name">First Name:<input type="text" name="first_name" id='first_name' value= "{{ one_friend['first_name'] }}"></label>
              <label for="last_name">Last Name:<input type="text" name="last_name" id='last_name' value="{{one_friend['last_name']}}"></label>
              <label for="email">Email:<input type="text" name="email" id='email' value="{{one_friend['email']}}"></label>
              <input class='add' type="submit" value="Update">
              <!-- {% endif %} -->
          </form>
      {% endif %}
  </div>
</body>
</html>
