<!DOCTYPE html>
<html>
    <head>
       <title>Login & Reg | Home</title>
       {% load staticfiles %}
       <link rel="stylesheet" href="{% static 'login/style.css' %}" media="screen" title="no title"  charset="utf-8">
    </head>
    <body>
        {% if messages %}
        <div class="messages">
            {% for message in messages %}
                <p {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
            {% endfor %}
        </div>
        {% endif %}
        <h1>Welcome!</h1>
        <form class="left" action='/register' method='post'>{% csrf_token %}
            <div class="border_break">
                <h3>Registration</h3>
            </div>
            <table>
                <tr>
                    <td><label for="first_name">First Name:</label></td>
                    <td><input type="text" name="first_name"></td>
                </tr>
                <tr>
                    <td><label for="last_name">Last Name:</label></td>
                    <td><input type="text" name="last_name"></td>
                </tr>
                <tr>
                    <td><label for="email">Email:</label></td>
                    <td><input type="text" name="email"></td>
                </tr>
                <tr>
                    <td><label for="password">Password:</label></td>
                    <td><input type="password" name="password"></td>
                </tr>
                <tr>
                    <td><label for="confirm_password">Confirm Password:</label></td>
                    <td><input type="password" name="confirm_password"></td>
                </tr>
            </table>
            <p class="login_button"><input type='submit' value='Register'></p>
        </form>
        <form action='/login' method='post'>{% csrf_token %}
            <h3>Login</h3>
            <table>
                <tr>
                    <td><label for="email">Email:</label></td>
                    <td><input type="text" name="email" ></td>
                </tr>
                <tr>
                    <td><label for="password">Password:</label></td>
                    <td><input type="password" name="password" id="password"></td>
                </tr>
            </table>
            <p class='login_button'><td><input type="submit" name="login" value="Log In"></td></p>
        </form>
    </body>
</html>
