body{
    width: 970px;
    padding: 20px;
    font-family: "Comic Sans MS", cursive, sans-serif;
}
p.home_logout{
    display:block;
    text-align: right;
}
form{
    display:inline-block;
    border: 2px solid black;
    width: 450px;
    border-radius: 10px;
    vertical-align: top;
}
form.left{
    display:inline-block;
    border: 2px solid black;
    width: 450px;
    height: 260px;
    border-radius: 10px;
    vertical-align: top;
}
h4 a{
    font-size: 14px;
}
h3{
    vertical-align: top;
    display:inline-block;
    margin-top: -15px;
    margin-left: 30px;
    background-color: white;
    padding: 0px 5px;
}
div{
    width:180px;
    display:inline-block;
    margin:auto;
    min-height: 155px;
}
div.border_break{
    width:180px;
    display:inline-block;
    margin:auto;
    min-height: 0px;
}
.error{
    font-style: italic;
    font-weight: bold;
}
header{
    text-align: right;
}

.messages{
    width:300px;
    min-height: 10px;
    font-style: italic;
    font-weight: bold;
}
.names{
    vertical-align: top;
    max-height: 191px;
}
.comment{
    margin:0px;
}
.button{
    text-align: right;
    border: 2px solid black;
    box-shadow: 1px 1px 2px solid black;
}
.login_button{
    text-align: center;
    margin-left: 200px;
}
p{
    line-height: 30px;
}
td{
    width: 180px;
}
td input{
    margin: 5px;
}
.success{
    color:green;
}
.login_body{
    width: 970px;
    margin:auto;
    border:none;
}
