<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% load staticfiles %}
        <link href="{% static 'review_books/style.css' %}" rel="stylesheet">
    </head>
    <body>
        <header>
            <div class="messages">
                {% if messages %}
                    {% for message in messages %}
                        <p>{{ message }}</p>
                    {% endfor %}
                {% endif %}
            </div>
            <a href="{% url 'review_books:add' %}">Add book and review</a> | <a href="{% url 'login:logout' %}">Logout</a>
            <h2>Welcome, {{ user.first_name }}!</h2>
        </header>
        <h2 class="recent_header">Recent Book Reviews:</h2>
        <div class="wrapper_reviews">
            {% for review in recent %}
            <div class="reviews">
                <h2><a href="/books/{{review.book.id}}">{{ review.book.title }}</a></h2>
                <p>Rating: {{ review.rating }}</p>
                <p><a href="/user/{{review.reviewer.id}}">{{ review.reviewer.first_name}}</a> says: {{ review.review }}</p>
                <p>Posted on: {{ review.created_at }}</p>
            </div>
            {% endfor %}
        </div>
        <div class="wrapper_reviews">
            <div class="reviews">
                <h2>Other Books with Reviews:</h2>
                {% for review in more %}
                <div class="other_reviews">
                    - <a href="/books/{{review.book.id}}">{{ review.book.title }}</a>
                </div>
                {% endfor %}
            </div>
        </div>
    </body>
</html>
