<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Ajax Posts</title>
        {% load staticfiles %}
        <link rel="stylesheet" href="{% static 'notes/style.css' %}">
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    </head>
    <body>
        <h1>My Notes</h1>
        <div class="all_notes" id="all_notes"></div>
        <form class="add_note" action="/create" method="POST">{% csrf_token %}
            <textarea name="note" value="" placeholder="Type note..."></textarea><br>
            <input type="submit" value="Post">
        </form>
    </body>
    <script type="text/javascript" src="{% static 'notes/script.js' %}"></script>
</html>
