<!DOCTYPE html>
<html>
    <head>
       <title>Login & Reg | Home</title>
       {% load staticfiles %}
       <link rel="stylesheet" href="{% static 'log_reg/val.css' %}" media="screen" title="no title"  charset="utf-8">
    </head>
    <body>
        {% if messages %}
        <div class="messages">
            {% for message in messages %}
                <p {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
            {% endfor %}
        </div>
        {% endif %}
        <form action='/log_reg/register' method='post'>{% csrf_token %}
            <h1>Registration</h1>
            <div class="names">
                <p>First name: </p>
                <p>Last name: </p>
                <p>Email: </p>
                <p>Password: </p>
                <p>Confirm Password: </p>
            </div>
            <div class="inputs">
                <p><input type='text' name='first_name'></p>
                <p><input type='text' name='last_name'></p>
                <p><input type='text' name='email'></p>
                <p><input type='password' name='password'></p>
                <p><input type='password' name='confirm_password'></p>
                <p class="button"><input type='submit' value='Register'></p>
            </div>
        </form>
        <hr>
        <form action='/log_reg/login' method='post'>{% csrf_token %}
            <h1>Login</h1>
            <table>
                <tr>
                    <td><label for="email">Email:</label></td>
                    <td><input type="text" name="email" id="email"></td>
                </tr>
                <tr>
                    <td><label for="password">Password:</label></td>
                    <td><input type="password" name="password" id="password"></td>
                </tr>
            </table>
            <p class='login_button'><td><input type="submit" name="login" value="Log In"></td></p>
        </form>
    </body>
</html>
