nav{
    padding: 0 5% 0 5%;
}
label{
    display:inline-block;
}
.post_comments{
    font-style: italic;
}
.ital{
    font-style: italic;
}
hr {
    margin-top: 0
}
nav>h1{
    display:inline-block;
    margin: 0;
}
nav>a{
    float:right;
}
.success{
    color: green;
    font-weight: bold;
}
.message p, .comment p{
    font-family: monospace;
}
.comment{
    margin-left: 10%;
}
