body{
    width: 600px;
    margin:auto;
}
div{
    display:inline-block;
}
div.action{
    vertical-align: top;
    border-left: 0.5px solid black;
}
div.data{
    width: 128px;
    vertical-align: top;
}
div.email{
    width: 194px;
}
div.form{
    width: 400px;
}
ul{
    list-style: none;
    padding: 0px;
    text-align: left;
    margin:0px;
}
hr{
    border-top: 1px solid black;
}
li{
    display:inline;
    width: 128px;
    padding: 5px 52px 5px 5px;
}
li.email{
    display:inline;
    width: 200px;
    padding: 5px 150px 5px 5px;
}
input.button{
    display: inline-block;
    margin: 4.5px;
}
input.add{
    display: inline-block;
    margin: 5px 0px;
}
input{
    display: block;
}
p{
    display:inline-block;
    margin: 0px;
    padding: 5px;
}
p.success{
    text-align: center;
    display:inline-block;
    background-color: green;
    color: black;
    font-family: "Comic Sans MS", cursive, sans-serif;
    padding: 5px 10px;
    border: 2px solid black;
}
form.friends{
    width: 460px;
    display:inline-block;
    margin:0px;
}
p.failure{
    text-align: center;
    display:inline-block;
    width: 130px;
    background-color: red;
    color: white;
    font-family: "Comic Sans MS", cursive, sans-serif;
    padding: 5px 10px;
    border: 2px solid black;
    margin: 20px 0px;
}
.right{
    display:inline-block;
    width: 130px;
    height: 130px;
    background-color: green;
    color: white;
    font-family: "Comic Sans MS", cursive, sans-serif ;
}
h1{
    text-decoration: underline;
}
div.wrapper{
    width: 600px;
    border: 2px solid black;
}
div.left_wrap{
    width: 461px;
}
div.action{
    width: 125px;
    padding-left: 5px;
}
form.submit{
    margin:0px;
    padding:0px;
    display:inline-block;
}
