body{
    width: 1000px;
    margin:auto;
    padding: 20px;
    font-family: "Comic Sans MS", cursive, sans-serif;
}
p.home_logout{
    display:block;
    text-align: right;
}
.recent_header{
    text-decoration: underline;
    font-size: 1.2em;
    margin-left: 15px;
    margin-bottom: 0px;
}
form{
    display:inline-block;
    border: 2px solid black;
    width: 450px;
    padding: 10px;
    border-radius: 10px;
    vertical-align: top;
}
form.right{
    display:inline-block;
    border: 2px solid black;
    width: 450px;
    padding: 10px;
    border-radius: 10px;
    vertical-align: top;
}
form.left{
    display:inline-block;
    border: 2px solid black;
    width: 450px;
    border-radius: 10px;
    vertical-align: top;
}
div.info{
    border: none;
    display:inline-block;
    width: 450px;
    border-radius: 10px;
    vertical-align: top;
}
div.wrapper_reviews{
    display:inline-block;
    width: 420px;
    padding: 10px;
    vertical-align: top;
    font-size: 12px;
}
div.reviews{
    border: 2px solid black;
    display:inline-block;
    width: 400px;
    padding: 0px 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    vertical-align: top;
    font-size: 12px;
}
div.reviews p{
    margin-left: 10px;
}
div{
    width:180px;
    display:inline-block;
    margin:auto;
    min-height: 155px;
}

.error{
    font-style: italic;
    font-weight: bold;
}
.messages{
    min-width:750px;
    min-height: 30px;
    font-style: italic;
    font-weight: bold;
}
.names{
    vertical-align: top;
    max-height: 191px;
}
.comment{
    margin:0px;
}
.button{
    text-align: right;
    border: 2px solid black;
    box-shadow: 1px 1px 2px solid black;
}
.login_button{
    text-align: center;
    margin-left: 200px;
}
p{
    line-height: 30px;
}
td{
    width: 180px;
}
td input{
    margin: 5px;
}
.success{
    color:green;
}
.login_body{
    width: 970px;
    margin:auto;
    border:none;
}
label{
    vertical-align: top;
}
label.small_text{
    font-size: 12px;
    margin-left: 20px;
}
